@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #b5f4ff;
    font-family: 'Manjari', sans-serif;
}

.header{
    padding: 20px;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9em;
    padding-top: 14px;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-gap: 20px;
}

.container .header, .container .footer{
    grid-column-start: 1;
    grid-column-end: 6;
    background: #1e272e !important;
    color: white;
}

.container .content{
    grid-column-start: 1;
    grid-column-end: 4;
}

.container .sidebar{
    grid-column-start: 4;
    grid-column-end: 6;
    background-color: white;
    padding: 15px;
}

.related-post{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: rgb(46, 51, 55) !important;
    color: white;
}

.container .content{
    background-color: white;
    padding: 15px;
}

footer{
    padding: 15px;
}